
@font-face {
    font-family: "SF Pro Rounded";
    src: url("./fonts/SFNSRounded.woff2") format("woff2");
  }
  
  /* @font-face {
    font-family: "SF Pro Rounded";
    src: url("./fonts/SF-Pro-Rounded-Black.otf") format("opentype");
    font-weight: 900;
  }
  
  @font-face {
    font-family: "SF Pro Rounded";
    src: url("./fonts/SF-Pro-Rounded-Heavy.otf") format("opentype");
    font-weight: 800;
  }
  
  @font-face {
    font-family: "SF Pro Rounded";
    src: url("./fonts/SF-Pro-Rounded-Bold.otf") format("opentype");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "SF Pro Rounded";
    src: url("./fonts/SF-Pro-Rounded-Semibold.otf") format("opentype");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "SF Pro Rounded";
    src: url("./fonts/SF-Pro-Rounded-Medium.otf") format("opentype");
    font-weight: 500;
  } */
  
  /* @font-face {
    font-family: "SF Pro Rounded";
    src: url("./fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
    font-weight: 400;
  } */
  
  @font-face {
    font-family: "SF Mono";
    src: url("./fonts/SF-Mono-Bold.otf") format("opentype");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "SF Mono";
    src: url("./fonts/SF-Mono-Medium.otf") format("opentype");
    font-weight: 500;
  }
  
  /* @font-face {
    font-family: "SF Mono";
    src: url("./fonts/SF-Mono-Regular.otf") format("opentype");
    font-weight: 400;
  } */