.container {
  position: absolute;
  bottom: -30px;
  right: -30px;

  height: 36px;
  gap: 0px;
  border-radius: 12px;
  padding: 3px;
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #373737;

  box-shadow: var(--shadow-elevation-high);

  animation: fadeIn 0.5s ease-in-out;

  &:before {
    // top left corner triangle
    content: '';
    background-image: url('/icon-callout-triangle.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -10px;
    left: 0;
    width: 12px;
    height: 12px;
  }

  &[data-side='top'] {
    top: -30px;
    border-bottom-left-radius: 0px;
  }

  &[data-side='top']:before {
    top: 34px;
    transform: scale(1, -1);
  }

  &[data-side='bottom'] {
    bottom: -30px;
    border-top-left-radius: 0px;
  }

  &[data-side='bottom']:before {
    bottom: -10px;
  }

  @media print {
    display: none;
  }
}

.button {
  color: #fff;
  font-size: 0.85rem;
  letter-spacing: -0.09px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;

  height: 100%;
  padding: 0 8px;
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border-radius: 9px;

  transition: all 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #474747;
    // opacity: 0.7;
  }

  // not first child
  &:not(:first-child) {
    // border-left: 1px solid #474747;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  // not last child
  &:not(:last-child) {
    // border-right: 1px solid #474747;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.rule {
  border-left: 1px solid #474747;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
    filter: blur(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0px);
  }
}
