@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Rounded";
  src: url("./fonts/SF-Pro-Rounded-Black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("./fonts/SF-Pro-Rounded-Heavy.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("./fonts/SF-Pro-Rounded-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("./fonts/SF-Pro-Rounded-Semibold.otf") format("opentype");
  font-weight: 600;
}

/* @font-face {
  font-family: "SF Pro Rounded";
  src: url("./fonts/SF-Pro-Rounded-Medium.otf") format("opentype");
  font-weight: 500;
} */

@font-face {
  font-family: "SF Pro Rounded";
  src: url("./fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
  font-weight: 400;
}


html, body {
  font-family: 'SF Pro Rounded';
  background-color: #EEE;
}

.my-pg {
  margin-top: 8em;
  margin-bottom: 8em;
}

@media print {
  .my-pg {
    margin-top: 0;
    margin-bottom: 0;
  }

  .no-print{
    display:none;
  }

  html, body {
    background-color: #FFF;
  }
}

.page-size {
  height: 11in;
  width: 8.5in;
}

.origin-top-center {
  transform-origin: top center;
}

.rounded-4xl {
  border-radius: 2em;
}

h1, .h1 {
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
}

h2, .h2 {
  font-weight: 800; 
  font-size: 16px; 
  line-height: 32px; 
}

h3, .h3 {
  font-weight: 800; 
  font-size: 12px; 
  line-height: 16px; 
}

p, .p {
  font-weight: 500; 
  font-size: 12px; 
  line-height: 16px; 
}

pre, .pre {
  font-weight: 500; 
  font-size: 18px; 
  line-height: 24px;
  font-family: 'SF Mono';
  white-space: pre-wrap;
}

label, .label {
  display: block;
  font-weight: 800; 
  font-size: 10px; 
  line-height: 20px;
  @apply px-1.5 rounded-full;
}

button, .button {
  @apply px-4 py-2 bg-gray-100 rounded-full border border-gray-200 hover:bg-gray-200 font-semibold;
}

button.button-round {
  @apply p-0 w-10 h-10 bg-gray-50 rounded-full border border-gray-200 hover:bg-gray-200 font-semibold;
}

.smooth-shadow-sm {
  box-shadow:
  0.4px 0.4px 2.2px rgba(0, 0, 0, 0.02),
  1px 1px 5.3px rgba(0, 0, 0, 0.028),
  1.9px 1.9px 10px rgba(0, 0, 0, 0.035),
  3.4px 3.4px 17.9px rgba(0, 0, 0, 0.042),
  6.3px 6.3px 33.4px rgba(0, 0, 0, 0.05),
  15px 15px 80px rgba(0, 0, 0, 0.07)
;
}

.smooth-shadow-md {
  box-shadow:
  0.9px 0.9px 2.2px rgba(0, 0, 0, 0.02),
  2.1px 2.1px 5.3px rgba(0, 0, 0, 0.028),
  4px 4px 10px rgba(0, 0, 0, 0.035),
  7.1px 7.1px 17.9px rgba(0, 0, 0, 0.042),
  13.4px 13.4px 33.4px rgba(0, 0, 0, 0.05),
  32px 32px 80px rgba(0, 0, 0, 0.07)
;
}

.smooth-shadow-lg {
  box-shadow:
  1.8px 1.8px 2.2px rgba(0, 0, 0, 0.02),
  4.3px 4.3px 5.3px rgba(0, 0, 0, 0.028),
  8px 8px 10px rgba(0, 0, 0, 0.035),
  14.3px 14.3px 17.9px rgba(0, 0, 0, 0.042),
  26.7px 26.7px 33.4px rgba(0, 0, 0, 0.05),
  64px 64px 80px rgba(0, 0, 0, 0.07)
;
}

.smooth-shadow-xl {
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}

*[contenteditable="true"] {
  @apply border-transparent transition-colors rounded-xl -m-2 p-2;
}

*[contenteditable="true"]:hover {
  outline: none;
  @apply border-transparent bg-gray-100;
}

*[contenteditable="true"]:focus {
  outline: none;
  @apply border-transparent bg-gray-200;
}

*[contenteditable="true"]::selection {
  background-color: yellow;
}

.border-lg {
  border-width: 2px;
  /* box-shadow: 0px 0px 0px 1.5px #000000; */
}

.border-sm {
  /* box-shadow: 0px 0px 0px 0.5px #000000; */
  border-width: 0.5px;
}

.vr {
  content: ' ';
  border-color:black;
  border-style: solid;
  border-width: 0.5px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  overflow-y: auto;
  display: flex;
  align-items: stretch;
  flex: 1;
}

.scannable {
  padding: 0.75em;
  position:relative
}

.scannable:before, .scannable:after, .scannable>:first-child:before, .scannable>:first-child:after {
  position:absolute; content:' ';
  width:16px; height: 16px;
  border-color:black; /* or whatever colour */
  border-style:solid; /* or whatever style */
}

.scannable:before {top:0;left:0;border-width: 1px 0 0 1px; border-radius: 8px 0 0 0;}
.scannable:after {top:0;right:0;border-width: 1px 1px 0 0; border-radius: 0 8px 0 0;}
.scannable>:first-child:before {bottom:0;right:0;border-width: 0 1px 1px 0; border-radius: 0 0 8px 0;}
.scannable>:first-child:after {bottom:0;left:0;border-width: 0 0 1px 1px; border-radius: 0 0 0 8px;}

.editable:after {
  position: absolute;

}